html,
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000 url("../img/index-bg.jpg") no-repeat center top;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}





/* Page header */
.main-header {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #242424;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: transparent url("http://via.placeholder.com/18x18") no-repeat;
  /* For sprite use */
  /*background-position: -1px -15px;*/
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}





/* Page main content */
h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}



/* Features */
.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  /* Только для оформления сетки */
  min-height: 175px;

  margin-right: 20px;
  background-color: blue;
}

.features-item:last-child {
  margin-right: 0;
}



/* Index page content */
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background-color: orange;
}

.index-content-left {
  float: left;
  width: 380px;
  /* Только для оформления сетки */
  min-height: 330px;
  background-color: violet;
}

.index-content-right {
  float: right;
  width: 300px;
  /* Только для оформления сетки */
  min-height: 330px;
  background-color: violet;
}



/* Filters */
.filters {
  float: left;
  width: 168px;
  margin-right: 72px;
  /* Только для оформления сетки */
  min-height: 569px;
  background-color: violet;
}

/* Catalog items */
.catalog-items {
  float: left;
  width: 700px;
  /* Только для оформления сетки */
  min-height: 592px;
  font-size: 0;
  background-color: orange;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  /* Только для оформления сетки */
  min-height: 286px;
  background-color: blue;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  width: 193px;
  /* Только для оформления сетки */
  min-height: 43px;
  background-color: cyan;
}

.item-images {
  float: left;
}





/* Page footer */
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: red;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: green;
}

.footer-social {
  float: left;
  width: 180px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: green;
}

.footer-copyright {
  float: right;
  width: 180px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: green;
}
