html,
body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background: #000000 url("http://via.placeholder.com/1122x1750") no-repeat 50% 3px;
  background-size: 1122px auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}





/* Page header */
.main-header {
  margin-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 780px;
  /* Только для оформления сетки */
  min-height: 70px;
  background-color: red;
}

.user-block {
  float: right;
  width: 140px;
  /* Только для оформления сетки */
  min-height: 70px;
  background-color: green;
}






/* Page main content */
h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}



/* Features */
.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  /* Только для оформления сетки */
  min-height: 175px;

  margin-right: 20px;
  background-color: blue;
}

.features-item:last-child {
  margin-right: 0;
}



/* Index page content */
.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background-color: orange;
}

.index-content-left {
  float: left;
  width: 380px;
  /* Только для оформления сетки */
  min-height: 330px;
  background-color: violet;
}

.index-content-right {
  float: right;
  width: 300px;
  /* Только для оформления сетки */
  min-height: 330px;
  background-color: violet;
}



/* Filters */
.filters {
  float: left;
  width: 168px;
  margin-right: 72px;
  /* Только для оформления сетки */
  min-height: 569px;
  background-color: violet;
}

/* Catalog items */
.catalog-items {
  float: left;
  width: 700px;
  /* Только для оформления сетки */
  min-height: 592px;
  font-size: 0;
  background-color: orange;
}

.catalog-item {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  /* Только для оформления сетки */
  min-height: 286px;
  background-color: blue;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.paginator {
  width: 193px;
  /* Только для оформления сетки */
  min-height: 43px;
  background-color: cyan;
}

.item-images {
  float: left;
}





/* Page footer */
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: red;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: green;
}

.footer-social {
  float: left;
  width: 180px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: green;
}

.footer-copyright {
  float: right;
  width: 180px;
  /* Только для оформления сетки */
  min-height: 90px;
  background-color: green;
}
